*{
	padding:0px;
	margin:0px;
	font-family:times new roman;
    


}


body{
	background-image:url('rest0.jpg');
	background-size:cover;
	color:floralwhite;

}
a{
	color:floralwhite;
}
nav{
	display: flex;
	justify-content:space-around;
	align-items:center;
	text-transform:uppercase;
	margin:25px;
}
 #nav-links{
 	display:flex;
 	justify-content:space-around;
 	width:40%;
 }

 #nav-links a{
 	text-decoration:none;
 	letter-spacing:3px;
 	font-weight:200;

 }
 #nav-links a:hover{
 	color:sandybrown;
 }

 #nav-links li{
 	list-style:none;
 }
 .nameio{
 	letter-spacing:5px;
 	font-weight:700;
 	text-transform:uppercase;
 }

 .home0 {
 	text-align:center;
 	margin:120px;

 }
 #adress {
 	font-weight:100;
 	font-size:25px;

 }
 
#alinks{
	display:flex;
	justify-content:space-around;
	align-items:center;
	margin-top:20px;
	font-size:60px;

	letter-spacing:3px;
	text-transform:uppercase;
	
}

#alinks a{
	text-decoration:none;
}

#alinks li{
	list-style:none;
	font-weight:100;
}
 
 #alinks a:hover{
 	text-decoration:underline;
 }
.burger {
	display:none;
	cursor:pointer;

}
 .burger div{
 	height:2px;
 	background-color:floralwhite;
 	width:25px;
 	margin:5px;
 }
 @media (max-width:950px){
 	#nav-links{
 		width:60%;
 	}
 }

  @media (max-width:630px){
 	#nav-links{ 
    position:absolute;
    
  width:100%;
    height:20vh;
    top:10vh;
    background-color:floralwhite;
    display:flex;
    flex-direction:column;
    align-items:center;
   
    
 	}
  

  
  .fuck{
   	color:black;
   }
   

 
   .burger{
    display:block;
   }
    
  #nav-links.active{
    display:flex;
  }
   
   #nav-links{
    display:none;
   }


   
 }
@media (max-width;780){
	#alinks{
    display:flex;
    flex-direction:column;
    padding:20px;
   }
}
 
 
